:root {
  --bg-color: #000000;
  --text-primary: #00ff00;
  --text-primary-dim: #007700;
  --text-secondary: #666666;
  --text-secondary-dim: #333333;
  --accent-color: #ffffff;
  --border-color: #222222;
  --hover-color: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", "Courier New", monospace;
  background: var(--bg-color);
  color: var(--text-primary);
  line-height: 1.4;
  min-height: 100vh;
  font-size: 14px;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "UrsaFont";
  src: url("./fonts/UrsaFont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UrsaFont ANSI";
  src: url("../fonts/UrsaFont ANSI.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
